<!-- <ul class=" lg:flex gap-8 xl:gap-14 text-orange-600 lg:text-white font-semibold ">
    <li class="p-4 text-2xl lg:text-sm hover:text-orange-500 border-t border-white lg:border-0" >Foods</li>
    <li class="p-4 text-2xl lg:text-sm hover:text-orange-500 border-t border-white lg:border-0" >Workouts</li>
    <li class="p-4 text-2xl lg:text-sm hover:text-orange-500 border-t border-white lg:border-0" >Clients</li>
    <li class="p-4 text-2xl lg:text-sm hover:text-orange-500 border-y border-white lg:border-0"routerLink="/trainer/profile" >Profile</li>
    <li class="p-4 text-2xl lg:text-sm hover:text-orange-500 border-t border-white lg:border-0" >Payments</li>


</ul> -->
