<body>
    <app-header class="fixed top-0 w-full z-50"></app-header>
    <section class="pt-48 px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 flex justify-center min-h-screen">
        <div class="max-w-7xl w-full flex flex-col items-center justify-start gap-3">
            <h2 class="text-3xl md:text-5xl text-white font-semibold uppercase tracking-wide">
                Workout <span class="text-orange-500">Plans</span>
            </h2>
            <p class="text-lg md:text-xl text-gray-600">
               Mange clients workout plans here
            </p>

            <p-calendar class="max-w-full" [(ngModel)]="date" [inline]="true" [showWeek]="true" ></p-calendar>


           <p class="text-xl text-white">{{date}}</p>


          <div class="flex justify-center gap-2">
            <app-button name="Add Daily Workout" shade="D"></app-button>
            <app-button name="Add Workout Plan"></app-button>
          </div>

  
        </div>
    </section>
    <app-footer></app-footer>
</body>
