<!DOCTYPE html>
<html>
<head>
  <title>OTP verification</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" 
  integrity="sha384-bbZdJqVd+9LF1kgVvqvjGGAr4+r7Qs4iQFct+3wEryDBxJqFFa9R9vEzgE+tJfdM" crossorigin="anonymous">

</head>
<body>
    
    <img src="assets/images/logo.png" alt="Logo" class="hidden md:block md:absolute md:top-[-41px] md:left-[36px] md:w-[150px] md:h-[200px] md:object-cover cursor-pointer z-[1]">
    <!-- Add your logo here -->
       
      
      
    

    <div class="w-full h-screen relative bg-black overflow-hidden tracking-[normal] text-left text-[36px] text-sienna font-noto-sans bg-blend-darken ">
        <img class="hidden sm:block absolute top-0 left-0 w-[900px] h-[1013px] object-cover" alt="" src="assets/images/authlogin.jpeg">
        
        <div class="absolute top-[calc(50% - 497px)] right-[39px] rounded-[20px] bg-gradient-to-b from-transparent to-[rgba(0,0,0,0.14)] shadow-[-8px 4px 5px rgba(0,0,0,0.24)] backdrop-filter backdrop-blur-[53px] box-border h-[450px] flex flex-col items-start justify-start pt-[70px] px-10  sm:mr-28   max-w-full z-[1] border-[1px] border-solid border-glass1-stroke-carey mt-20 justify-content-center"> 
             <div class="self-stretch flex flex-col items-start justify-start ">
                <div class="self-stretch flex flex-col items-start justify-start gap-[14px] cursor-pointer" id="upperSectionContainer">
                    <div class="flex flex-col items-start justify-center">
                        <h1 class="m-0  relative font-semibold  inline-block min-w-[122px] mq450:text-[22px] mq750:text-[29px] text-white">OTP Verification</h1>
                        <div class="relative text-base font-medium text-orange-500">Please enter the OTP sent to your registered email !</div>
                    </div>
                    <form (ngSubmit)="proceedVerification()" class="m-0 self-stretch flex flex-col items-start justify-start gap-[25px]" [formGroup]="otpForm">
                        <div class=" self-stretch rounded-xl flex items-center py-3.5 px-4 border border-white">
                            <input class="flex-1 outline-none bg-transparent text-white text-xl placeholder-gray-500" 
                                type="text"
                                name="otp"
                                id="otp"
                                placeholder="Enter your OTP"
                                formControlName="otp">
                        </div>
                    
                        <div class="self-stretch rounded-xl flex bg-gradient-to-r from-[#c0714b] to-[#e87e4c] flex-row items-center justify-center py-3.5 px-5 gap-4">
                            <button class="relative text-xl font-semibold font-noto-sans text-white text-left inline-block min-w-[68px] mq450:text-base" type="submit">Verify</button>
                        </div>
                    </form>
                    
                </div>
               
                
               
      
        </div>
    </div>
    </div>
    
</body>
</html>


