<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="isOpen">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-700 opacity-75"></div>
    </div>
  
    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
  
    <div class="inline-block align-bottom bg-black rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-black px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-black sm:mx-0 sm:h-10 sm:w-10">
            <!-- Heroicon name: outline/exclamation -->
            <svg class="h-6 w-6 text-orange-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.223 4h12.447c2.37 0 4.522-1.27 5.687-3.305a8.962 8.962 0 01.886-1.343c1.616-1.933 2.256-4.248 1.805-6.628-.484-2.75-2.61-5.159-5.316-5.802a9.003 9.003 0 00-8.802 1.024A7.99 7.99 0 004 7.77c-.45 2.381.189 4.696 1.805 6.628.303.362.63.7.886 1.042 1.165 2.035 3.317 3.305 5.687 3.305h0z" />
            </svg>
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-white">Upload Certificates</h3>
            <div class="mt-2">
              <p class="text-sm text-white">
                You can upload your certificates here.
              </p>
              <input type="file" accept=".jpg, .png, .pdf" (change)="onFileSelected($event)" class="mt-4">
            </div>
          </div>
        </div>
      </div>
      <div class="bg-black px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
      
        <button type="button" (click)="closeModal()" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
