<body>
    <app-header class="fixed top-0 w-full z-50"></app-header>
    <section class="py-48 px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 flex justify-center">
      <div class="w-fit lg:w-[50%] bg-black border border-orange-500 rounded-lg shadow-md overflow-hidden flex flex-col justify-between p-8">
        <h2 class="text-2xl font-semibold text-orange-500 text-center mb-4">Add Workout</h2>
        <form (ngSubmit)="addWorkout()" class="flex flex-col gap-4" enctype="multipart/form-data" [formGroup]="workoutForm">
          <div class="flex flex-col w-full">
            <label for="name" class="font-semibold text-white mb-1">Workout Name:</label>
            <input 
              type="text"
              name="workoutname" 
              id="name" 
              placeholder="Enter workout name" 
              class="input-field rounded-md bg-orange-200 border  border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50"
              formControlName="workoutname">
          </div>
          <div class="flex flex-col w-full">
            <label for="description" class="font-semibold text-white mb-1">Description:</label>
            <textarea 
              name="description" 
              id="description" 
              rows="4" 
              placeholder="Describe your workout" 
              class="input-field  bg-orange-200 rounded-md border border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50"
              formControlName="description"></textarea>
          </div>
         
          <div class="flex flex-col w-full">
            <label for="video" class="font-semibold text-white mb-1">Upload Video (optional):</label>
            <input 
              type="file" 
              name="video" 
              id="video" 
              accept="video/*" 
              class="input-field rounded-md bg-orange-200 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50" 
              (change)="onFileSelected($event)">
          </div>
              
          <!-- Display the preview -->
          <div *ngIf="preview">
            <video controls class="mt-4" width="400">
              <source [src]="preview" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          
          <div class="flex flex-col w-full">
            <label for="durationMinutes" class="font-semibold text-white mb-1">Duration (Minutes):</label>
            <input 
              type="number" 
              name="durationMinutes" 
              id="durationMinutes" 
              min="1" 
              placeholder="Enter duration" 
              class="input-field   bg-orange-200 rounded-md border border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50"
              formControlName="duration">
          </div>
          <div class="flex flex-col w-full">
            <label for="caloriesBurned" class="font-semibold text-white mb-1">Calories Burned:</label>
            <input 
              type="number" 
              name="caloriesburned" 
              id="caloriesBurned" 
              min="0" 
              placeholder="Estimated calories burned" 
              class="input-field  bg-orange-200 rounded-md border border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50"
              formControlName="caloriesburned">
          </div>
          <button 
            [disabled]="workoutForm.invalid" 
            type="submit" 
            class="btn-submit rounded-md py-2 px-4 text-white font-semibold hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 focus:ring-opacity-50"
            [ngClass]="{'bg-orange-500': !workoutForm.invalid, 'bg-gray-700 cursor-not-allowed': workoutForm.invalid}">
            Submit
          </button>
        </form>
      </div>
    </section>
    
      
    
    <app-footer></app-footer>
</body>
