<ul class=" lg:flex gap-8 xl:gap-14 text-orange-600 lg:text-white font-semibold ">
    <li class="flex items-center p-4 text-2xl lg:text-sm hover:text-orange-500 border-t border-white lg:border-0" routerLink="/user/tracking">
        <i class="fas fa-tasks mr-2"></i> Tracking
    </li>
    <li class="flex items-center p-4 text-2xl lg:text-sm hover:text-orange-500 border-t border-white lg:border-0" routerLink="/user/showTrainers">
        <i class="fas fa-users mr-2"></i> Trainers
    </li>
    <li class="flex items-center p-4 text-2xl lg:text-sm hover:text-orange-500 border-t border-white lg:border-0" routerLink="/user/workoutPlans">
        <i class="fas fa-dumbbell mr-2"></i> Workout Plans
    </li>
    <li class="flex items-center p-4 text-2xl lg:text-sm hover:text-orange-500 border-t border-white lg:border-0" routerLink="/user/dietPlans">
        <i class="fas fa-utensils mr-2"></i> Diet Plans
    </li>
    

</ul>
