<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple and Responsive Layout</title>

  <style>
    /* Add custom styles here if needed */
  </style>
</head>
<body >
  <app-header  class="fixed top-0 w-full z-50"></app-header>
  <section class="pt-48 pb-20 lg:px-12 overflow-hidden" style="background-image: url('https://images.unsplash.com/photo-1539794830467-1f1755804d13?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fGd5bSUyMGdpcmxzfGVufDB8fDB8fHww'); background-size: contain; background-position:right ; background-repeat: no-repeat;">

    <div class="container mx-auto px-4 md:px-16 grid grid-cols-1 md:grid-cols-2 gap-8">  <div class="content">  <p class="text-gray-200 font-extrabold text-7xl"><span class="text-orange-600">Transform </span> your body, transform your life.</p>
        <p class="mt-10 hidden md:block text-white font-thin">OneMoreRep is a comprehensive platform designed to empower users on their fitness journey. With a focus on personalization and community engagement, our app allows users to connect with fitness coaches for personalized guidance and support, while also providing a space to share their progress and transformations with others.</p>
        <div class="flex justify-center md:justify-start mt-8">
          <app-button class="z-10 " name="Get Started" size="L" shade="D" animation="C"></app-button>
        </div>
      </div>
    </div>
  </section>
  




  
  <section class=" bg-black mx-auto pt-4">
    <h1 *ngIf="proTrainers" class="text-6xl  text-orange-500 text-center font-semibold "><span class="text-white">Pro</span> Trainers </h1>
    <div *ngIf="proTrainers" class="flex justify-center flex-wrap gap-8 mt-6">
        <div class="max-w-sm bg-black rounded-2xl" *ngFor="let trainer of proTrainers.slice(0,4); let i = index">
            <img class="lg:w-[300px] lg:h-[300px] object-contain" [src]="trainer?.imageName" alt="Trainer Image">
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-center text-4xl font-bold tracking-tight" [ngClass]="{'text-white': i % 2 !== 0, 'text-orange-500': i % 2 === 0}">
                        {{ trainer.firstName }}
                    </h5>
                </a>
                <p class="mb-3 font-normal text-center text-gray-600">{{ trainer.qualifications }}</p>
            </div>
        </div>
    </div>
    
    <div class="w-screen mt-20 bg-black ">
      <div class="flex flex-wrap items-center justify-center max-w-4xl mx-auto gap-4 sm:gap-0">
  
          <div class="w-full p-6 bg-black border border-gray-700 rounded-lg sm:w-1/2 bg-opacity-20 sm:rounded-r-none sm:p-8">
              <div class="mb-6">
                  <h3 class="text-2xl font-semibold jakarta text-gray-100 sm:text-4xl">Free Plan</h3>
              </div>
              <div class="mb-4 space-x-2">
                  <span class="text-4xl font-bold text-gray-100">₹0/mo</span>
              </div>
              <ul class="mb-6 space-y-2 text-gray-300">
                  <li class="flex items-center gap-1.5">
                      <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20"
                          fill="currentColor">
                          <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                              clip-rule="evenodd"></path>
                      </svg>
                      <span class="">3 Days Free Trial</span>
                  </li>
                  <li class="flex items-center gap-1.5">
                      <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20"
                          fill="currentColor">
                          <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                              clip-rule="evenodd"></path>
                      </svg>
                      <span class="">Food Tracking</span>
                  </li>
                  <li class="flex items-center gap-1.5">
                      <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20"
                          fill="currentColor">
                          <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                              clip-rule="evenodd"></path>
                      </svg>
                      <span class="">Workout Tracking</span>
                  </li>
                  <li class="flex items-center gap-1.5">
                      <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20"
                          fill="currentColor">
                          <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                              clip-rule="evenodd"></path>
                      </svg>
                      <span class="">No Trainer Purchase</span>
                  </li>
              </ul>
              <a (click)="checkStatus()"
                  class="block px-8 py-3 text-sm font-semibold text-center text-gray-100 transition duration-100 bg-white rounded-lg outline-none bg-opacity-10 hover:bg-opacity-20 md:text-base">Get
                  Started for Free</a>
          </div>
  
          <div class="w-full p-6 rounded-lg shadow-xl sm:w-1/2 bg-gradient-to-br from-orange-600 to-red-600 sm:p-8">
              <div class="flex flex-col items-start justify-between gap-4 mb-6 lg:flex-row">
                  <div>
                      <h3 class="text-2xl font-semibold text-white jakarta sm:text-4xl">Pro Plan</h3>
                  </div>
                  <span class="order-first inline-block px-3 py-1 text-xs font-semibold tracking-wider text-white uppercase bg-black rounded-full lg:order-none bg-opacity-20">Go Pro</span>
              </div>
              <div class="mb-4 space-x-2">
                  <span class="text-4xl font-bold text-white">₹149/mo</span>
                  <span class="text-2xl text-indigo-100">₹800 for 6 months</span>
              </div>
              <ul class="mb-6 space-y-2 text-indigo-100">
                  <li class="flex items-center gap-1.5">
                      <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20"
                          fill="currentColor">
                          <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                              clip-rule="evenodd"></path>
                      </svg>
                      <span class="">Ultimate Access</span>
                  </li>
                  <li class="flex items-center gap-1.5">
                      <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20"
                          fill="currentColor">
                          <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                              clip-rule="evenodd"></path>
                      </svg>
                      <span class="">Food Tracking</span>
                  </li>
                  <li class="flex items-center gap-1.5">
                      <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20"
                          fill="currentColor">
                          <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                              clip-rule="evenodd"></path>
                      </svg>
                      <span class="">Workout Tracking</span>
                  </li>
                  <li class="flex items-center gap-1.5">
                      <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20"
                          fill="currentColor">
                          <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                              clip-rule="evenodd"></path>
                      </svg>
                      <span class="">Trainer Purchase</span>
                  </li>
              </ul>
              <a routerLink="/user/showPlans"
                  class="block px-8 py-3 text-sm font-semibold text-center text-white transition duration-100 bg-white rounded-lg outline-none bg-opacity-20 hover:bg-opacity-30 md:text-base">
                  Subscribe</a>
          </div>
      </div>
    </div>
  
  

  <router-outlet></router-outlet>
  </section>
  <app-footer></app-footer>

  





</body>
</html>
