<body>
  <app-header class="fixed top-0 w-full z-50"></app-header>
  <section class="py-48 px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 flex justify-center">
      <div class="w-full lg:w-[1200px] flex flex-col items-start justify-start">
          <div class="w-full rounded-lg shadow-md bg-black overflow-hidden">
              <div class="flex flex-col px-6 py-4 border-b border-orange-500">
                  <h1 class="text-4xl text-center font-semibold text-orange-500">Food Variant</h1>
                  <div class="flex items-center justify-center lg:justify-start mt-4">
                      <input type="text" placeholder="Search Variant" class="border border-orange-500 px-4 py-2 rounded-l-md focus:outline-none focus:ring-2 focus:ring-orange-500">
                      <button class="bg-orange-500 px-4 py-2 rounded-r-md hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                          </svg>
                      </button>
                  </div>
                  <div class="flex justify-center lg:justify-end mt-4">
                      <app-button (click)="addVarient()" class="m-2 " name="Add Variant" shade="D"></app-button>
                  </div>
              </div>
              <div class="flex flex-col px-6 py-4">
                  <div class="overflow-x-auto">
                      <table class="min-w-max w-full table-auto rounded-xl shadow-md overflow-hidden border divide-y divide-gray-200">
                          <thead class="text-left bg-gradient-to-r from-orange-500 to-orange-700">
                              <tr>
                                  <th class="px-4 py-3 text-white text-left">Food</th>
                                  <th class="px-4 py-3 text-white text-left">Unit</th>
                                  <th class="px-4 py-3 text-white text-left">Quantity</th>
                                  <th class="px-4 py-3 text-white text-left">Calories</th>
                                  <th class="px-4 py-3 text-white text-left">Carbs</th>
                                  <th class="px-4 py-3 text-white text-left">Fat</th>
                                  <th class="px-4 py-3 text-white text-left">Fiber</th>
                                  <th class="px-4 py-3 text-white text-left">Protein</th>
                                  <th class="px-4 py-3 text-white text-left">Actions</th>
                              </tr>
                          </thead>
                          <tbody class="bg-gray-700 divide-y divide-gray-200">
                              <tr *ngFor="let variant of foodVariant" class="text-white">
                                  <td class="px-4 py-2 whitespace-nowrap">{{ variant.recipeName }}</td>
                                  <td class="px-4 py-2 whitespace-nowrap">{{ variant.unit }}</td>
                                  <td class="px-4 py-2 whitespace-nowrap">{{ variant.quantity }}</td>
                                  <td class="px-4 py-2 whitespace-nowrap">{{ variant.calories }}</td>
                                  <td class="px-4 py-2 whitespace-nowrap">{{ variant.carbs }}</td>
                                  <td class="px-4 py-2 whitespace-nowrap">{{ variant.fat }}</td>
                                  <td class="px-4 py-2 whitespace-nowrap">{{ variant.fiber }}</td>
                                  <td class="px-4 py-2 whitespace-nowrap">{{ variant.protein }}</td>
                                  <td class="px-4 py-2 whitespace-nowrap">
                                      <app-button name="Edit" shade="D"></app-button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <app-footer></app-footer>
</body>
