
  <body>
    <app-header class="fixed top-0 w-full z-50"></app-header>
   <section class="container pt-48 mx-auto h-screen ">
    <app-sidenav 
        [navData]="navbarData" 
        [logoText]="logoText"
        [logoIcon]="logoIcon"
        ></app-sidenav> 
    <p class="text-6xl font-bold text-center text-white mb-4">Welcome <span class="bg-orange-700">Trainer</span> </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-14 mt-6 h-[300px]">
    
    </div>
    <router-outlet></router-outlet>
  </section>

     
   <app-footer></app-footer>
  

  </body>

