<nav class="bg-black py-4">
    <div class="container mx-auto flex justify-between items-center">
      
       <a href=""><img  src="assets/images/logo.png" alt="Logo" class="h-[100px] w-[120px] mr-4"> </a>
      <ul class="flex space-x-4">
        <li><a href="#" class="text-white hover:text-gray-300">Tracking</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">Trainers</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">Profile</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">Login</a></li>
      </ul>
    </div>
  </nav>