<body>
    <app-header class="fixed top-0 w-full z-50"></app-header>
   <section class="pt-48 px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 flex justify-center">
  <div class="w-full lg:w-[1200px] flex flex-col items-start justify-start">
    <div class="w-full rounded-lg shadow-md bg-black overflow-hidden">
      <div class="flex flex-col px-6 py-4 border-b border-orange-500">
        <div class="max-w-7xl w-full flex flex-col items-center justify-center gap-3">
            <h2 class="text-2xl text-center md:text-5xl text-white font-semibold uppercase tracking-wide">
                Trainer <span class="text-orange-500">Management</span>
            </h2>
            <p class="text-lg md:text-lg text-gray-500 text-center">
                Manage all trainers availble
            </p>
        </div>
        <div class="flex items-center justify-center lg:justify-start mt-4">
          <!-- Search Input Field -->
          <input
            type="text"
            placeholder="Search Trainers"
            class="border border-orange-500 px-4 py-2 rounded-l-md focus:outline-none focus:ring-2 focus:ring-orange-500"
            [(ngModel)]="searchText"
          >
          <!-- Search Button with SVG Icon -->
          <button
            class="bg-orange-500 px-4 py-2 rounded-r-md hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500"
            (click)="search()"
          >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
          </button>
        </div>
             
        
      </div>
      <div class="flex flex-col px-6 py-4">
        <div class="overflow-x-auto">
            <table class="min-w-max w-full table-auto rounded-xl shadow-md overflow-hidden border divide-y divide-gray-200">
                <thead class="text-left bg-gradient-to-r from-orange-500 to-orange-700">
                  <tr>
                    <th class="px-4 py-3 text-white text-left">Name</th>
                    <th class="px-4 py-3 text-white text-left">Email</th>
                    <th class="px-4 py-3 text-white text-left">Qualifications</th>
                    <th class="px-4 py-3 text-white text-left">Access</th>
                  </tr>
                </thead>
                <tbody class="bg-gray-700 divide-y divide-gray-200">
                  <tr *ngFor="let trainer of paginatedData" class="text-white">
                    <td class="px-4 py-2 whitespace-nowrap">
                      {{ trainer.firstName }} <span class="text-orange-500">{{ trainer.lastName }}</span>
                    </td>
                    <td class="px-4 py-2 whitespace-nowrap">{{ trainer.email }}</td>
                    <td class="px-4 py-2 whitespace-nowrap">{{ trainer.qualifications }}</td>
                    <td class="px-4 py-2 whitespace-nowrap flex space-x-2">
                      
                        <button
                        *ngIf="trainer.active"
                        (click)="blockTrainer(trainer.id)"
                        class="py-1 px-2 rounded-md bg-red-500 text-white font-semibold hover:bg-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-300"
                      >
                        Block
                      </button>
              
                      <!-- Unblock Button (conditionally displayed) -->
                      <button
                        *ngIf="!trainer.active"
                        (click)="unblockTrainer(trainer.id)"
                        class="py-1 px-2 rounded-md bg-green-500 text-white font-semibold hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-300"
                      >
                        Unblock
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              
        </div>
        <app-pagination
        [totalItems]="trainers.length"
        [itemsPerPage]="itemsPerPage" 
        [currentPage]="currentPage" 
        (pageChanged)="changePage($event)"
      ></app-pagination>
      
      </div>
    </div>
  </div>
</section>

    
<app-footer></app-footer>
      
   
    </body>

